nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    
}

footer {
    background-color: #333333;
}
body {
  cursor: none;
}
.cursor {
  pointer-events: none;
  display: block;
  width: 56px;
  height: 56px;
  position: absolute;
  background-image: url(img/cursor.png);
  mix-blend-mode: overlay;
}

.header {
  background-color: #37AFAA;
  display: flex;
  align-items: center;
  
    
}
.headerImg {
  display: flex;
  align-items: flex-start;
  margin-right: 250px;
}

.headernav{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  
}

.a-menu {
    color:white;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 10px 20px;
    display: inline-block;
    text-align: justify;
    background-color: rgb(245, 197, 189); 
    border: none;
    border-radius: 22px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #37AFAA; /
  
}

.menu2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.catdogban {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
}

.midimage {
    height: 116vh;
    
}

.a-menu2 {
    color: #F55D6F;
    font-weight: 700;
    display: inline-flex;
    align-items: center;  
    text-decoration: none;
    padding-left: 94px;
    padding-right: 94px;
    font-size: 1.3rem;
}

.navfooter {
    display: flex;
    justify-content: space-between;
}

.ulfooter {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-p {
    color: white;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 25px;
}

.a-footer {
color: white;
font-weight: 800;
}

  
  @media (max-width: 768px) {
    .navfooter {
      flex-direction: column;
    }
  }
  
/* Estilos para a seção da galeria */
.gallery-section {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .gallery-section h2 {
    font-size: 24px;
    color: black;
  }
  
  .gallery-section p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: left;
    color:black;
    margin-bottom: 10px;
  }
    .gallery-section h3 {
    font-size: 20px;
    text-align: center;
    color: black;
  }
  
  ol {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    font-size: 16px;
    margin: 10px;
    padding-left: 10px;
  }
  
  .image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
  }
  
  .image-gallery img {
    width: 250px;
    height: auto;
    margin: 10px;
    border-radius: 5px; 
    border: 2px solid #F55D6F;
  }
  
/* página IMCPET */
  
  .button-IMC {          
    padding: 20px;
    background-color: #37AFAA;
    font-size: 20px;
    min-width: 500px;
    min-height: 100px;
    padding: 2rem;
    margin-block-end: 50px;
    margin-left: 650px;
  }
  
  /*página calculadoraimc */
  
  .body-calc{
    background-color: #37AFAA;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color:#fff
  }

  .hide{
    display: none !important;
}

  .containercalc{
    min-width: 400px;
    min-height: 400px;
    background-color:#333333;
    padding: 2rem;
}
  
  #calc-container h2{
    text-align: center;
    margin-bottom: 2rem;
}
  .form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .form-control {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1rem;
  }

  .form-control label {
    font-weight: bold;
    margin-bottom: 0.6rem;
    color: #37AFAA
  }

  .form-control input {
    padding: 1rem 0.5rem ;
  }

  .action-control {
    display: flex;
    justify-content:space-between;
    margin-top: 2rem; 
    gap: 1rem   
}
  .btn-imc {
    text-transform: uppercase;  
    padding: 1rem 1.5rem;    
    background-color:#37AFAA;
    border: none;
    color: #333333;
    cursor: pointer;
    opacity: 0.9;
    flex: 1;    
}

  .btn-imc:hover {
    opacity: 1;
  }

  #clear-btn { 
    background-color:aquamarine;
  }

  /*página calculadoraimc - table*/
  #result-container {
    text-align: center;
    display: flex;
    flex-direction: column;

  }

  #imc-number {
    font-size: 2.4rem;
    margin-bottom: 0.6rem;
  }

  #imc-info {
    font-size: 1.4rem;
    color: #CCC
  }

  #result-container h3 {
    margin-top: 1rem;
    color: #dfdfdf
  }

  #imc-table {
    margin: 1,5rem 0;
    font-size: .8rem;
  }
 

  .table-header {
    font-weight: bold;
    color: #ccc
  }

  .table-header,
  .table-data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #444;
    font-size: 1.0rem;
  }

  .table-header h4,
  .table-data p {
    flex: 0.2;
  }

  .table-header h4:nth-child(3),
  .table-data h4:nth-child(3) {
    max-width:80px;
  }
 

  #back-btn {
    align-self: center;
    
  }

  .good {
    color:#12db34;
  }

  .low {
     color: #dbce12;
  }

  .medium {
    color: #db6212;
 }

 .high {
  color: #db1912;
 } 

/*container banho e tosa*/

 .container {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#cupom-container {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

#cadastro-container {
  display: none;
  /* Adicione outros estilos conforme necessário */
}

#cadastro-container h2 {
  color: #333; /* Cor do texto do título */
}

#cadastro-form {
  margin-top: 20px; /* Espaçamento superior para o formulário */
}

#cadastro-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#cadastro-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  /* Adicione outros estilos conforme necessário */
}

#cadastro-form button {
  background-color: #4caf50; /* Cor de fundo verde */
  color: #fff; /* Cor do texto branco */
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  /* Adicione outros estilos conforme necessário */
}

#cadastro-form button:hover {
  background-color: #45a049; /* Cor de fundo verde escuro no hover */
  /* Adicione outros estilos conforme necessário */
}


  



  


  

  
  
  
  
