nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
}

footer {
    background-color: #333333;
}

.header {
  background-color: #37AFAA;
  display: flex;
  align-items: center;
  
    
}
.headerImg {
  display: flex;
  align-items: flex-start;
  margin-right: 250px;
}

.headernav{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  
}

.a-menu {
    color:white;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 10px 20px;
    display: inline-block;
    text-align: justify;
    background-color: rgb(245, 197, 189); 
    border: none;
    border-radius: 22px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #37AFAA; /
  
}

.menu2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.catdogban {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
}

.midimage {
    height: 116vh;
    
}

.a-menu2 {
    color: #F55D6F;
    font-weight: 700;
    display: inline-flex;
    align-items: center;  
    text-decoration: none;
    padding-left: 94px;
    padding-right: 94px;
    font-size: 1.3rem;
}

.navfooter {
    display: flex;
    justify-content: space-between;
}

.ulfooter {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-p {
    color: white;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 34px;
}

.a-footer {
color: white;
font-weight: 800;
}

  
  @media (max-width: 768px) {
    .navfooter {
      flex-direction: column;
    }
  }
  
@media (max-width: 450px){ /*Responsividade*/
    .atendimento {
        flex-direction: column;
        max-width: 960px;
        justify-content: center;
    }
}

/* Estilos para a seção da galeria */
.gallery-section {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .gallery-section h2 {
    font-size: 24px;
    color: black;
  }
  
  .gallery-section p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: left;
    color:black;
    margin-bottom: 10px;
  }
    .gallery-section h3 {
    font-size: 20px;
    text-align: center;
    color: black;
  }
  
  ol {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    font-size: 16px;
    margin: 10px;
    padding-left: 10px;
  }
  
  .image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .image-gallery img {
    width: 250px;
    height: auto;
    margin: 10px;
    border-radius: 5px; 
  }
  